body{
    color: #31344b;
}

.text-bold{
    font-weight: bold;
}


@keyframes openform {
    from {width: 0;}
    to {width: 50%;}
}

#loginForm{
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loginLogo{
    height: 12rem;
}

.legend-input{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 50% !important;
    z-index: 2;
}

.legend-input > i{
    font-size: 1.3rem;
}

.input-labeled{
    margin-left: -0.5rem !important;
    z-index: 1 !important;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #loginForm{
        height: auto;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}